/* ArchivoRojo.css */

/* Style for the pagination container */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for each pagination item */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination a {
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

.pagination .active a {
  background-color: var(--primary-color);
  color: #fff;
}

/* Style for the "previous" and "next" buttons */
.pagination .previous,
.pagination .next {
  margin-right: 10px;
}


.grid-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px;
}

.grid-item {
  background-color: #fff;
  padding: 10px;
}

.grid-item-content {
  padding: 10px;
}


.content-row {
  font-weight: bold;
  margin-top: 10px;
}

button {
  background-color: var(--primary-color);
  color: whitesmoke;
  padding: 12px;
  margin-left: 4px;
  margin-right: 4px;
}

div[role="row"]  {
  font-size: 15px !important;
  font-family: "Max Rounded" !important;
}